<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AzureEventHubConnectionString" value="Endpoint=sb://clinicalevent.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=710d+MWCR88Cs+/94Y641Yg1YR6voX5SYZ+17BNJnj4=" />
		<add key="EventHubName" value="clinicaleventhub" />
	</appSettings>
</configuration>